
<header>
  <input id="save" type="text" name="input" value="name">
  <button id="btn-save">SAVE</button>

  <input id="load" type="text" name="input" value="name">
  <button id="btn-load">LOAD</button>

 
  <input id="tile-settings" type="text" name="input" value="25">
  <button id="btn-tile-settings">TILE px's</button>

  <button id="btn-x-take"><</button>
  <input id="add-take-x" type="text" name="input" value="1" >
  <button id="btn-x-add">></button>
  
   <button id="btn-y-take"><</button>
  <input id="add-take-y" type="text" name="input" value="1">
  <button id="btn-y-add">></button>

  <button id="switch-rooms">SWITCH ROOM</button>

 </header>

<div class="wrapper">
  	<div class="palette">
  		<% if(data != undefined){%>
		  	<%for (property in data) {%>
			  <div class="swatch">
				<img src="../<%=`${data[property]}`%>" >
			  </div>
			<%}%>
		<%}%>
	</div>
	<div class="hidden-palette" id="room">
  		<% if(data2 != undefined){%>
		  	<%for (property in data2) {%>
			  <div class="swatch">
				<img src="../<%=`${data2[property]}`%>" >
			  </div>
			<%}%>
		<%}%>
	</div>
	<div id="display">
      
      <canvas id="canvas" width="100px" height="100px"></canvas>
      <canvas id="canvas2" width="100px" height="100px"></canvas>
    </div>

</div>
  	

